/* :root {
  primary-color: #c41230;
} */

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Chia 4 cột */
  gap: 10px;
  margin-top: 20px;
  justify-content: center;
}
.grid-item {
  padding: 10px;
  text-align: center;
  border: 1px solid var(--tblr-border-color);
  background-color: white;
  border-radius: 5px;
  font-size: 16px;
  transition: opacity 0.5s, transform 0.5s;
}
.grid-item.fade-out {
  opacity: 0;
  transform: scale(0.9);
}
input,
button {
  padding: 5px 10px;
  margin: 5px;
  font-size: 14px;
}
